<!-- prettier-ignore -->
<%
  var breakPoint = process.env.RYORIJIYUKA_BREAKPOINT;
  var assetPath = process.env.RYORIJIYUKA_ASSET_PATH 
%>

<div id="content">
  <div class="contentHeadArea spSearchView sticky">
    <div class="innerContentHeadArea">
      <div class="searchArea clearfix">
        <form id="customSearch" class="tutorialFocus01" name="customSearch" action="/recipe/search" method="GET">
          <input
            type="text"
            autocomplete="off"
            name="search_word"
            class="formTxt"
            value=""
            placeholder="料理名や食材でレシピを検索"
            id="searchBtn"
          />
          <input type="submit" value="" class="searchBtn" id="searchSubmit" />
        </form>
      </div>
      <div class="wordList02 type01">
        <p>人気キーワード</p>
        <div class="arwL"></div>
        <ul class="clearfix fadeArea">
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=ポトフ" onClick="">ポトフ</a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=みぞれ鍋" onClick="">みぞれ鍋</a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/corner/products/hondashi/" onClick="">「ほんだし」</a>
          </li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=大根" onClick="">大根</a></li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=白菜" onClick="">白菜</a></li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=餅" onClick="">餅</a></li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=おでん" onClick="">おでん</a>
          </li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=牡蠣" onClick="">牡蠣</a></li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/card/701316/" onClick="">生チョコ</a></li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/corner/event/nabe/" onClick="">鍋</a></li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/card/705840/" onClick="">トリュフ</a></li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=けんちん汁" onClick="">けんちん汁</a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=ぶり大根" onClick="">ぶり大根</a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=だし巻き卵" onClick="">だし巻き卵</a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=シチュー" onClick="">シチュー</a>
          </li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/card/706981/" onClick="">水炊き</a></li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/card/704999/" onClick="">ブラウニー</a></li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=チョコレートケーキ" onClick=""
              >チョコレートケーキ</a
            >
          </li>
          <li><a href="https://park.ajinomoto.co.jp/recipe/card/704642/" onClick="">あんこう鍋</a></li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/corner/event/nabe/kasane-nabe/" onClick="">ミルフィーユ鍋</a>
          </li>
        </ul>
        <div class="arwR"></div>
      </div>
    </div>
  </div>

  <!-- ///////////////////////////////////////////// コンテンツ各エリア ///////////////////////////////////////////// -->
  <div id="basicIndex">
    <div class="main-visual">
      <h1>
        <picture>
          <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/main-visual-sp.png" />
          <img src="<%= assetPath %>/images/main-visual.png" alt="料理のきほんとしくみ" loading="eager" />
        </picture>
      </h1>
    </div>
    <!-- /.main-visual -->

    <p class="lead">
      料理はじめてさんの<br />
      「こんなこと誰に聞けばいいの？」に答えました。<br />
      野菜の切り方から、ごはんの炊き方まで。<br />
      毎日の料理で活躍する料理のきほんとしくみを<br class="u-sp" />紹介します。
    </p>
    <!-- /.lead -->

    <div class="book-banner">
      <div class="book-banner__inner">
        <div class="book-banner__image">
          <picture>
            <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/book-sp.png" />
            <img src="<%= assetPath %>/images/book.png" alt="" loading="lazy" />
          </picture>
        </div>
        <img class="book-banner__label" src="<%= assetPath %>/images/book-label-0324.svg" alt=好評発売中！"
        loading="lazy" />
        <div class="book-banner__content">
          <div class="book-banner__fukidashi">
            <picture>
              <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/book-fukidashi-sp.svg" />
              <img
                src="<%= assetPath %>/images/book-fukidashi.svg"
                alt="料理のしくみを基礎からしっかりまなびたいあなたに。"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="book-banner__chara">
            <picture>
              <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/book-chara-sp.png" />
              <img src="<%= assetPath %>/images/book-chara.png" alt="" loading="lazy" />
            </picture>
          </div>
          <div class="book-banner__subtitle">はじめてさんも、あらためてさんも</div>
          <div class="book-banner__title">料理のしくみがわかる本</div>
        </div>

        <a class="book-banner-link" href="/recipe/basic/book">
          詳しく見る
          <span class="book-banner-link__icon">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19 12L5 12" stroke="#ED6D46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M12 19L19 12L12 5"
                stroke="#ED6D46"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>

    <div class="basicIndexList">
      <div class="wrap860">
        <ul class="clearfix fadeArea">
          <li>
            <a href="/recipe/basic/chomiryo/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_01.jpg"
                alt="計量・計り方"
              />
              <span
                ><span><span>計量・計り方</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/ingredients_bunryou/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_02.jpg"
                alt="食材の目安量"
              />
              <span
                ><span><span>食材の目安量</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/chomiryo_bunryou/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_03.jpg"
                alt="調味料の目安量"
              />
              <span
                ><span><span>調味料の目安量</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/houcho/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_04.jpg"
                alt="包丁の使い方"
              />
              <span
                ><span><span>包丁の使い方</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/vege_cutting/">
              <img src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_13.jpg" alt="切り方" />
              <span
                ><span><span>切り方</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/chourikigu/">
              <img src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_05.jpg" alt="調理器具" />
              <span
                ><span><span>調理器具</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/vege_handling/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_06.jpg"
                alt="食材別の下ごしらえ・切り方"
              />
              <span
                ><span><span>食材別の下ごしらえ・切り方</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/heating/">
              <img src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_07.jpg" alt="火加減" />
              <span
                ><span><span>火加減</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/friedoil/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_08.jpg"
                alt="揚げ油の温度"
              />
              <span
                ><span><span>揚げ油の温度</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/dashi/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_09.jpg"
                alt="だしの取り方"
              />
              <span
                ><span><span>だしの取り方</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/cookrice/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_10.jpg"
                alt="ご飯の炊き方"
              />
              <span
                ><span><span>ご飯の炊き方</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/vege_keeping/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_11.jpg"
                alt="食材の保存方法"
              />
              <span
                ><span><span>食材の保存方法</span></span></span
              >
            </a>
          </li>
          <li>
            <a href="/recipe/basic/qa/">
              <img
                src="/wp-content/themes/ajinomoto/resources/images/recipe/basic/index/btn_12.jpg"
                alt="食のQ&#038;A"
              />
              <span
                ><span><span>食のQ&amp;A</span></span></span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.basicIndexList -->
  </div>
  <!-- /#basicIndex -->

  <section class="related-articles">
    <div class="sectionTitle">
      <p><span class="textGrad">RELATED ARTICLES</span></p>
      <h2>関連記事</h2>
    </div>
    <div id="js-related-articles-swiper" class="swiper related-articles__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="related-article" href="https://park.ajinomoto.co.jp/magazine/419371/">
            <div class="related-article__image">
              <img src="<%= assetPath %>/images/related1.jpg" alt="" loading="lazy" />
            </div>
            <p class="related-article__text">調理科学で解決！皮はパリッと、中はジューシー。鶏むね肉のチキンステーキ</p>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="related-article" href="https://park.ajinomoto.co.jp/magazine/409901/">
            <div class="related-article__image">
              <img src="<%= assetPath %>/images/related2.jpg" alt="" loading="lazy" />
            </div>
            <p class="related-article__text">くさみなし、ふっくら仕上がる！おさえておきたい「煮魚」のきほん</p>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="related-article" href="https://park.ajinomoto.co.jp/magazine/399167/">
            <div class="related-article__image">
              <img src="<%= assetPath %>/images/related3.jpg" alt="" loading="lazy" />
            </div>
            <p class="related-article__text">
              おにぎりをもっと自由に！ごはん同盟さんが提案する「進化系おにぎり」レシピ
            </p>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="related-article" href="https://park.ajinomoto.co.jp/magazine/389337/">
            <div class="related-article__image">
              <img src="<%= assetPath %>/images/related4.jpg" alt="" loading="lazy" />
            </div>
            <p class="related-article__text">具材が3品、可能性は無限大。稲田俊輔流「三品鍋」の楽しみ方</p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="popularityKeywordsSection">
    <div class="sectionTitle">
      <p><span class="textGrad">KEYWORD</span></p>
      <h2>人気キーワード</h2>
    </div>
    <div class="popularityKeywordsList wrap1100">
      <ul class="clearfix">
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=大根">大根</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=白菜">白菜</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=餅">餅</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=おでん">おでん</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=牡蠣">牡蠣</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/card/701316/">生チョコ</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/corner/event/nabe/">鍋</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/card/705840/">トリュフ</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=けんちん汁">けんちん汁</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=ぶり大根">ぶり大根</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=だし巻き卵">だし巻き卵</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=シチュー">シチュー</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/card/706981/">水炊き</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/card/704999/">ブラウニー</a></li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/search/?search_word=チョコレートケーキ">チョコレートケーキ</a>
        </li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/card/704642/">あんこう鍋</a></li>
        <li><a href="https://park.ajinomoto.co.jp/recipe/corner/event/nabe/kasane-nabe/">ミルフィーユ鍋</a></li>
      </ul>
    </div>
  </section>

  <section class="modalIconSearchArea">
    <h2 class="bigTitle_uline" id="search_by_category">カテゴリからさがす</h2>
    <div class="clearfix">
      <div class="box">
        <h3 class="inTtl">定番食材で探す</h3>
        <ul class="lists">
          <li class="modalBtn">
            <a data-modal="num01">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_01.svg"
                  alt=""
              /></span>
              <span class="txt">肉</span>
            </a>
          </li>
          <li class="modalBtn">
            <a data-modal="num02">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_02.svg"
                  alt=""
              /></span>
              <span class="txt">魚介</span>
            </a>
          </li>
          <li class="modalBtn spBgNon">
            <a data-modal="num03">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_03.svg"
                  alt=""
              /></span>
              <span class="txt">野菜</span>
            </a>
          </li>
          <li class="modalBtn">
            <a data-modal="num04">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_04.svg"
                  alt=""
              /></span>
              <span class="txt">その他</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="box">
        <h3 class="inTtl">ジャンルで探す</h3>
        <ul class="lists">
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s3%5B%5D=1">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_05.svg"
                  alt=""
              /></span>
              <span class="txt">和風</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s3%5B%5D=2">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_06.svg"
                  alt=""
              /></span>
              <span class="txt">洋風</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s3%5B%5D=3">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_07.svg"
                  alt=""
              /></span>
              <span class="txt">中華風</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s3%5B%5D=4">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_08.svg"
                  alt=""
              /></span>
              <span class="txt">韓国風</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s3%5B%5D=5">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_09.svg"
                  alt=""
              /></span>
              <span class="txt wide">エスニック</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="box">
        <h3 class="inTtl">料理区分で探す</h3>
        <ul class="lists">
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s1%5B%5D=1">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_10.svg"
                  alt=""
              /></span>
              <span class="txt">主菜</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s1%5B%5D=2">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_11.svg"
                  alt=""
              /></span>
              <span class="txt">副菜</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s1%5B%5D=4">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_13.svg"
                  alt=""
              /></span>
              <span class="txt">主食</span>
            </a>
          </li>
          <li>
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s1%5B%5D=3">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_12.svg"
                  alt=""
              /></span>
              <span class="txt">汁物</span>
            </a>
          </li>
          <li class="wide">
            <a href="https://park.ajinomoto.co.jp/recipe/search/?s1%5B%5D=5">
              <span class="ico"
                ><img
                  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/recipe/index/icon_category_14.svg"
                  alt=""
              /></span>
              <span class="txt wide">デザート</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="comnonBoderSection">
    <h2 class="bigTitle_new">おすすめレシピ</h2>
    <div class="inLead">味の素KKが選んだ、おすすめのレシピをご紹介</div>
    <div class="wrap1200">
      <ul class="fourColumnList type01 moreDisplayArea">
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/708053/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/708053.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe2">こがしマヨたまトースト</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/800270/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/800270.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe3">やみつき！無限ピーマン</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/800369/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/800369.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe4">とろ卵豚キャベツ</div>
          </a>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/801691/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2019/11/801691.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe5">BLTミルフィーユサンド</div>
          </a>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/707446/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/707446.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe6">ふっくらジューシーハンバーグ</div>
          </a>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/710682/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/710682.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe7">青椒肉絲</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/709198/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/709198.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe8">肉みそキャベツ</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/801322/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2019/01/801322.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe9">鶏団子とひらひら人参のスープ野菜</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/710074/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/710074.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe10">黄金炒飯</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/800919/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/800919.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe11">豚バラピーマン</div>
          </a>
        </li>
        <li>
          <a href="https://park.ajinomoto.co.jp/recipe/card/704735/" class="fade">
            <img src="https://park.ajinomoto.co.jp/wp-content/uploads/2018/03/704735.jpeg" alt="" />
            <div class="txt ellipsisStrengthRecipe" id="strengthRecipe12">回鍋肉</div>
          </a>
          <div class="cat">
            <a href="/tag/100001/" class="btnHashtag">
              <span class="hashtagName textGrad">＃CMレシピ</span>
              <span class="bg"></span>
            </a>
          </div>
        </li>
      </ul>
      <div class="moreDisplayBtn js-moreDisplayBtn">
        <span class="inMore"
          >もっと見る
          <span class="arw"></span>
        </span>
        <span class="inClose"
          >閉じる
          <span class="arw"></span>
        </span>
      </div>
    </div>
  </section>

  <div class="breadcrumb fixPage">
    <div class="breadcrumb">
      <ul class="clearfix">
        <li><a href="https://park.ajinomoto.co.jp/recipe/">レシピ大百科</a></li>
        <li>料理の基本</li>
      </ul>
    </div>
  </div>
</div>

<%- include('./_resources.ejs'); %>
