
<% var basePath = 'https://park.ajinomoto.co.jp'; %>

<footer id="footer">
  <!-- <div id="footerLink" class="clearfix">
    <section class="ftrLinkArea">
      <div class="ttl"><h2 class="ftrLinkTitle">「AJINOMOTO PARK」をもっと楽しむ</h2></div>
      <div class="wrap920">
        <section>
          <ul class="fLink">
            <li>
              <a href="https://park.ajinomoto.co.jp/recipe/"><span>RECIPE</span><span>レシピ</span></a>
            </li>
            <li>
              <a href="https://park.ajinomoto.co.jp/menu/"><span>MENU</span><span>献立</span></a>
            </li>
            <li>
              <a href="https://park.ajinomoto.co.jp/magazine/"><span>PARK MAGAZINE</span><span>使える・楽しい</span></a>
            </li>
            <li>
              <a href="https://park.ajinomoto.co.jp/activity/"><span>PARK ACTIVITY</span><span>参加する</span></a>
            </li>
            <li>
              <a href="https://park.ajinomoto.co.jp/special/"><span>SPECIAL</span><span>スペシャル</span></a>
            </li>
            <li>
              <a href="https://park.ajinomoto.co.jp/campaign/"><span>CAMPAIGN</span><span>キャンペーン</span></a>
            </li>
            <li>
              <a href="https://park.ajinomoto.co.jp/about/"><span>ABOUT</span><span>「AJINOMOTO PARK」について</span></a>
            </li>
            <li>
              <a href="https://community.park.ajinomoto.co.jp/view/home"
                ><span>COMMUNITY</span><span>コミュニティ</span></a
              >
            </li>
          </ul>
        </section>
      </div>
    </section>
  </div> -->
  <section class="ftrTagArea">
    <div class="ftrLogo">
      <span
        ><img
          src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/pc/ftr_logo.png"
          alt="AJINOMOTO"
      /></span>
    </div>
    <div class="pageTop">
      <span>
        <a href="#wrapper" class="smooth fade ">
          <svg class="icon_arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.25 52.66">
            <defs>
              <style>
                .cls-1 {
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <title>AP_svg</title>
            <polygon
              class="cls-1"
              points="29.25 26.33 25.2 22 25.15 22.05 4.05 0 0 4.32 21.06 26.33 0 48.33 4.05 52.66 25.15 30.61 25.2 30.65 29.25 26.33"
            />
          </svg>
        </a>
      </span>
    </div>
    <? /*php endif; */?>
  </section>
  <section class="ftrContetns">
    <section class="newSnsAcountArea">
      <ul class="mainLists">
        <li>
          <a href="https://lin.ee/8hiLQ47" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_line.png"
                alt="LINEでお友達になる"
            /></span>
            <span>LINEからレシピ・献立検索！<br />LINEでお友だちになる </span></a
          >
        </li>
        <li>
          <a href="https://twitter.com/ajinomotopark" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_twitter.png"
                alt="Xをフォローする"
            /></span>
            <span>最新情報をいち早くお知らせ！<br />Xをフォローする</span></a
          >
        </li>
      </ul>
      <ul class="subLists">
        <li>
          <a href="https://www.youtube.com/channel/UCxbv_OKLGqvkg3eDNEoDJpw" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_youtube.png"
                alt="Youtubeを登録する"
            /></span>
            <span>公式チャンネル</span></a
          >
        </li>
        <li>
          <a href="https://community.park.ajinomoto.co.jp/view/home" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_ajinomotalk.png"
                alt="食の楽しい！発見コミュニティを登録する"
            /></span>
            <span>食を楽しむコミュニティ</span></a
          >
        </li>
        <li>
          <a href="https://www.pinterest.jp/ajinomotoparksocial/boards/" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_pinterest.png"
                alt="Pinterestをフォローする"
            /></span>
            <span>「AJINOMOTO PARK」</span></a
          >
        </li>
        <li class="snsMail">
          <a href="https://park.ajinomoto.co.jp/user/entry/?reg=1"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_mail.png"
                alt="メールマガジンを登録する"
            /></span>
            <span>メールマガジン</span></a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/ajinomoto.co.jp" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_facebook.png"
                alt="Facebookをフォローする"
            /></span>
            <span>公式アカウント</span></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/ajinomoto_park/" target="_blank"
            ><span
              ><img
                src="<%= basePath %>/wp-content/themes/ajinomoto/resources/images/recipe/index_new/ico_insta.png"
                alt="Instagramをフォローする"
            /></span>
            <span>公式アカウント</span></a
          >
        </li>
      </ul>
    </section>
    <section class="fNav">
      <ul class="fNav01">
        <li>
          <a href="https://park.ajinomoto.co.jp/ap_terms_of_service"><span>利用規約</span></a>
        </li>
        <!--
          --><li>
          <a href="https://park.ajinomoto.co.jp/ap_membership_agreement"><span>会員規約</span></a>
        </li>
        <!--
          --><li>
          <a href="https://park.ajinomoto.co.jp/faq/"><span>よくあるお問い合わせ</span></a>
        </li>
      </ul>
      <ul class="fNav02">
        <li>
          <a href="https://www.ajinomoto.co.jp/"><span>味の素KK商品情報サイト</span></a>
        </li>
        <!--
          --><li>
          <a href="https://www.ajinomoto.com/jp/"><span>味の素KK企業情報サイト</span></a>
        </li>
        <!--
          --><li>
          <a href="https://ajinomoto-direct.shop/?adid=ba01010396ajioo"
            ><span>オンラインショップ</span></a
          >
        </li>
        <!--
          --><li>
          <a href="https://www.ajinomoto.co.jp/privacy/"><span>プライバシーポリシー</span></a>
        </li>
        <!--
          --><li>
          <a href="https://www.ajinomoto.co.jp/terms/socialmedia.html"
            ><span>ソーシャルメディアガイドライン</span></a
          >
        </li>
        <!--
          --><li>
          <a href="https://www.ajinomoto.co.jp/terms/trademark.html"><span>商標について</span></a>
        </li>
      </ul>
    </section>
    <p id="copyright">Copyright (c) 1996-2025 AJINOMOTO CO.,INC All rights reserved.</p>
  </section>
</footer>

<div class="modal modalLoggedin">
  <div class="modalTable">
    <div class="modalCell">
      <div class="modalInner">
        <ul class="btnArea">
          <li class="btn">
            <a
              class="mem-button mem-button--default"
              href="https://park.ajinomoto.co.jp/clip/"
              class="fade"
              onClick=""
            >
              <span class="mem-button__inner">
                <span class="mem-button__text">
                  <img
                    src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_keep_grad.svg"
                  />
                  <span class="mem-button__label mem-button__label">保存一覧</span>
                </span>
              </span>
            </a>
          </li>
          <li class="btn">
            <a
              class="mem-button mem-button--default"
              href="https://park.ajinomoto.co.jp/rireki/"
              class="fade"
              onClick=""
            >
              <span class="mem-button__inner">
                <span class="mem-button__text">
                  <img
                    src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_history_grad.svg"
                  />
                  <span class="mem-button__label mem-button__label">閲覧履歴</span>
                </span>
              </span>
            </a>
          </li>
          <li class="btn">
            <a
              class="mem-button mem-button--default"
              href="https://park.ajinomoto.co.jp/user/edit/"
              class="fade"
              onClick=""
            >
              <span class="mem-button__inner">
                <span class="mem-button__text">
                  <img
                    src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/common/sp/AP_svg_icon_user_grad.svg"
                  />
                  <span class="mem-button__label mem-button__label">登録情報の確認・変更</span>
                </span>
              </span>
            </a>
          </li>
        </ul>
        <a class="btn-logout" onclick="clickAIDLogout();" data-visible="login">
          <span class="titleItemListMenu-en icon arrow">ログアウト</span>
        </a>
        <div class="mdClose"></div>
      </div>
    </div>
  </div>
</div>

<!--/////////////////////////////////////////////////////////////////// -->
</div>
<!-- /#wrapper -->
<!-- js -->
<link
  rel="stylesheet"
  id="202103renewal_weekly_menu_carousel-css"
  href="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/styles/_weekly_menu_carousel.css?ver=20250611"
  type="text/css"
  media="all"
/>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-includes/js/wp-embed.min.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/sortAreaTabs.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_lib.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_util.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_jquery.matchHeight.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_jquery.colorbox.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_jquery.new_content_ajax.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_slick.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_form.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/_init.js?ver=20250611"
></script>
<script
  type="text/javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/js/nst_ellipsis.js?ver=20250611"
></script>
<!-- cojp log footer-->
<script type="text/javascript" language="javascript" src="//www.ajinomoto.co.jp/shared_file/js/log.js"></script>
<!-- object-fit-image -->
<script>
  objectFitImages('img.object-fit')
  objectFitImages()

  var elements = $('.sticky')
  Stickyfill.add(elements)
</script>
<script
  type="text/javascript"
  language="javascript"
  src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/scripts/nav.js?version=20250611"
></script>
<!-- /cojp log footer-->
</body>
</html>
