<!-- prettier-ignore -->
<%
  var breakPoint = process.env.RYORIJIYUKA_BREAKPOINT;
  var assetPath = process.env.RYORIJIYUKA_ASSET_PATH 
%>

<section class="foryou">
  <h2 class="c-section-title js-inview">こんなあなたに</h2>
  <div class="foryou-item foryou-item--1 js-inview">
    <picture>
      <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/sp/foryou1.svg" />
      <img src="<%= assetPath %>/images/home/foryou1.svg" alt="" loading="lazy" />
    </picture>
    <p class="foryou-item__text">料理ってどこから始めればいいの？</p>
  </div>
  <div class="foryou-item foryou-item--2 js-inview">
    <picture>
      <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/sp/foryou2.svg" />
      <img src="<%= assetPath %>/images/home/foryou2.svg" alt="" loading="lazy" />
    </picture>
    <p class="foryou-item__text">レシピを毎日検索するのに疲れた</p>
  </div>
  <div class="foryou-item foryou-item--3 js-inview">
    <picture>
      <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/sp/foryou3.svg" />
      <img src="<%= assetPath %>/images/home/foryou3.svg" alt="" loading="lazy" />
    </picture>
    <p class="foryou-item__text">新生活に向けて料理をまなんでみたい！</p>
  </div>
  <div class="foryou-item foryou-item--4 js-inview">
    <picture>
      <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/sp/foryou4.svg" />
      <img src="<%= assetPath %>/images/home/foryou4.svg" alt="" loading="lazy" />
    </picture>
    <p class="foryou-item__text">料理上手っていつまで経っても言える気がしない</p>
  </div>
  <div class="foryou-item foryou-item--5 js-inview">
    <picture>
      <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/sp/foryou5.svg" />
      <img src="<%= assetPath %>/images/home/foryou5.svg" alt="" loading="lazy" />
    </picture>
    <p class="foryou-item__text">料理を科学的根拠できちんと理解したい</p>
  </div>
</section>
