<!-- prettier-ignore -->
<%
  var breakPoint = process.env.RYORIJIYUKA_BREAKPOINT;
  var assetPath = process.env.RYORIJIYUKA_ASSET_PATH 
%>

<div class="intro-image-list__col">
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image1.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image1.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">キャベツのコールスロー</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image2.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image2.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">ひき肉だんごのスープ</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image3.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image3.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">オムライス</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image4.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image4.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">肉野菜炒め</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image5.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image5.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">キャロットラペ</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image6.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image6.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">麻婆豆腐</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image7.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image7.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">トマトソースパスタ</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image8.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image8.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">ポテトサラダ</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image9.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image9.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label intro-image__label--row2">
      アーリオ・オーリオ・エ・<br />
      ペペロンチーノパスタ
    </div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image10.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image10.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">チキンステーキ</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image11.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image11.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">ブロッコリーの蒸し煮</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image12.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image12.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">キーマカレー</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image13.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image13.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">にんじんステーキ</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image14.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image14.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">ほうれん草のお浸し</div>
  </div>
  <div class="intro-image">
    <div class="intro-image__image">
      <picture>
        <source media="(max-width: <%= breakPoint %>)" srcset="<%= assetPath %>/images/home/intro-image15.jpg" />
        <img src="<%= assetPath %>/images/home/intro-image15.jpg" alt="" loading="lazy" />
      </picture>
    </div>
    <div class="intro-image__label">ゆで鶏 ねぎソース</div>
  </div>
</div>
