<!-- prettier-ignore -->
<%
  var breakPoint = process.env.RYORIJIYUKA_BREAKPOINT;
  var assetPath = process.env.RYORIJIYUKA_ASSET_PATH 
%>

<section class="intro">
  <div class="intro-image-list js-inview">
    <div class="intro-image-list__inner">
      <!-- prettier-ignore -->
      <%- include('./_intro-image-list-col.ejs'); %>
      <%- include('./_intro-image-list-col.ejs'); %>
    </div>
  </div>
  <div class="intro__content">
    <h2 class="intro__title js-inview">
      <div class="sub">料理の知識がぎゅっとつまった</div>
      <div class="main">
        <div class="row">
          全<span class="num"><span>30</span></span
          >レシピで、
        </div>
        <div class="row">自炊の基礎力が身につく。</div>
      </div>
    </h2>
    <div id="js-intro-swiper" class="swiper intro-items js-inview">
      <div class="swiper-wrapper">
        <div class="swiper-slide intro-item">
          <div class="intro-item__inner">
            <div class="intro-item__fukidashi intro-item__fukidashi--1">
              <picture>
                <source
                  media="(max-width: <%= breakPoint %>)"
                  srcset="<%= assetPath %>/images/home/sp/intro-item-fukidashi1.svg"
                />
                <img
                  src="<%= assetPath %>/images/home/intro-item-fukidashi1.svg"
                  alt="料理の“なぜ”を解説"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="intro-item__image">
              <img src="<%= assetPath %>/images/home/intro-item-image1.png" alt="" loading="lazy" />
            </div>
            <p class="intro-item__text">
              料理の基礎知識が<br />
              作りながら身につく
            </p>
          </div>
          <div class="intro-item__dot"></div>
        </div>
        <div class="swiper-slide intro-item">
          <div class="intro-item__inner">
            <div class="intro-item__fukidashi intro-item__fukidashi--2">
              <picture>
                <source
                  media="(max-width: <%= breakPoint %>)"
                  srcset="<%= assetPath %>/images/home/sp/intro-item-fukidashi2.svg"
                />
                <img
                  src="<%= assetPath %>/images/home/intro-item-fukidashi2.svg"
                  alt="どんな料理も構造はシンプル"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="intro-item__image">
              <img src="<%= assetPath %>/images/home/intro-item-image2.png" alt="" loading="lazy" />
            </div>
            <p class="intro-item__text">
              一生使える<br />
              “料理の方程式”がまなべる
            </p>
          </div>
          <div class="intro-item__dot"></div>
        </div>
        <div class="swiper-slide intro-item">
          <div class="intro-item__inner">
            <div class="intro-item__fukidashi intro-item__fukidashi--3">
              <picture>
                <source
                  media="(max-width: <%= breakPoint %>)"
                  srcset="<%= assetPath %>/images/home/sp/intro-item-fukidashi3.svg"
                />
                <img
                  src="<%= assetPath %>/images/home/intro-item-fukidashi3.svg"
                  alt="反復と味見がポイント"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="intro-item__image">
              <img src="<%= assetPath %>/images/home/intro-item-image3.png" alt="" loading="lazy" />
            </div>
            <p class="intro-item__text">
              自分の“おいしい”が<br />
              見えてくる
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
